backend/venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

*.log
*.env
*.DS_Store
*.egg-info/
*.coverage
*.dist-info/
*.egg
*.whl
*.bak
*.swp
*.tmp
*.pid
frontend/node_modules/
client/node_modules/
client/.next/
client/public/workbox-*.js
